---
layout: default
---
{% assign authors = "" | split: ',' %}
{% for item in page.author %}
    {% assign authors = authors | push: site.data.authors[item] %}
{% endfor %}
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">in {% for tag in page.tags %}{% if forloop.index != 1 %}, {% endif %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}</span>{% if authors %}<span class="post-meta__author author">by&nbsp;&nbsp;{% for item in authors %}{% if authors.size >1 %}{% if forloop.last == true %} and {% else %}{% if forloop.first == false %}, {% endif %}{% endif %}{% endif %}{% if item.image %}<img src="{{item.image}}" alt="profile image for {{item.name}}" class="avatar post-meta__avatar" /> {% endif %}<a href="{{ site.baseurl }}/authors/#{{ item.user }}" >{{item.name}}</a>{% endfor %}</span>{% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}
    <h2 class="post-subtitle">{{ page.description }}</h2>
    {% endif %}   
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
